<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTFNf5K5ul79enOt1_EUNk2AW_puLQm2o</string>
	<key>GCM_SENDER_ID</key>
	<string>624426974924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.closetApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>atrove-app</string>
	<key>STORAGE_BUCKET</key>
	<string>atrove-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624426974924:ios:d5108fce40ef8fd95ccc69</string>
</dict>
</plist>